- name: Pull control plane images
  command: kubeadm config images pull
  changed_when: false

- name: Initialize cluster
  command: kubeadm init --config /root/kubeadm-config.yaml --ignore-preflight-errors=all
  register: init_output
  args:
    creates: /etc/kubernetes/admin.conf

- name: Save join command
  shell: kubeadm token create --print-join-command
  register: join_cmd

- name: Save join command to controller
  copy:
    content: "{{ join_cmd.stdout }}"
    dest: "{{ files_dir }}/join_command.sh"
  delegate_to: localhost
  run_once: true
