- name: Read join command
  slurp:
    src: "{{ files_dir }}/join_command.sh"
  delegate_to: localhost
  run_once: true
  register: join_file
  
- name: Join command for masters
  debug:
    msg: >
      {{ join_file.content | b64decode }}
      --control-plane 
      --apiserver-advertise-address {{ ansible_host }}
      

- name: Runing join command on masters
  shell: >
    {{ join_file.content | b64decode }}
    --control-plane 
    --apiserver-advertise-address {{ ansible_host }}
  args:
    creates: /etc/kubernetes/kubelet.conf
