---
- name: Generate PKI
  hosts: localhost
  gather_facts: false
  roles:
    - pki
  tags: 
    - pki_create
    - pki

- name: Distribute etcd certificates
  hosts: etcd
  become: true
  roles:
    - pki_distribution
  tags:
    - pki_distribution
    - pki_distribution_etcd
    - pki

- name: Distribute apiserver etcd client cert
  hosts: masters
  become: true
  roles:
    - pki_distribution
  tags:
    - pki_distribution
    - pki_distribution_master
    - pki


- name: Setup etcd cluster
  hosts: etcd
  become: true
  serial: 1
  roles:
    - etcd
  tags: 
    - etcd_config
    - etcd

- name: Verify etcd cluster
  hosts: "{{ groups['etcd'][0] }}"
  become: true
  gather_facts: false
  roles:
    - etcd_verify
  tags:
    - etcd_verify
    - etcd

- name: Setup Load Balancers
  hosts: loadbalancer
  become: true
  roles:
    - keepalive
  tags:
    - lb
    - keepalive

- name: Setup Load Balancers
  hosts: loadbalancer
  become: true
  roles:
    - haproxy
  tags:
    - lb
    - haproxy


- name: Common setup
  hosts: all
  become: true
  tags: 
    - common
  roles:
    - common


- name: Setup Control Plane
  hosts: masters
  become: true
  tags: 
    - master
  roles:
    - master


- name: Setup Worker Nodes
  hosts: workers
  become: true
  tags: 
    - worker
  roles:
    - worker
