---
- name: Generate PKI
  hosts: localhost
  gather_facts: false
  tags: 
    - pki
  roles:
    - pki

- name: Distribute etcd certificates
  hosts: etcd
  become: true
  tags:
    - pki_distribution_etcd
  roles:
    - pki_distribution

- name: Distribute apiserver etcd client cert
  hosts: masters
  become: true
  tags:
    - pki_distribution_master
  roles:
    - pki_distribution


- name: Setup etcd cluster
  hosts: etcd
  become: true
  serial: 1
  tags: 
    - etcd
  roles:
    - etcd

- name: Verify etcd cluster
  hosts: "{{ groups['etcd'][0] }}"
  become: true
  gather_facts: false
  roles:
    - etcd_verify
  tags:
    - etcd_verify



- name: Common setup
  hosts: all
  become: true
  tags: 
    - common
  roles:
    - common


- name: Setup Control Plane
  hosts: masters
  become: true
  tags: 
    - master
  roles:
    - master


- name: Setup Worker Nodes
  hosts: workers
  become: true
  tags: 
    - worker
  roles:
    - worker
