- name: Create etcd data directory
  ansible.builtin.file:
    path: "{{ etcd_data_dir }}"
    state: directory
    owner: root
    group: root
    mode: "0700"

- name: Deploy etcd systemd service
  ansible.builtin.template:
    src: etcd.service.j2
    dest: /etc/systemd/system/etcd.service
    mode: '0644'

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable etcd
  ansible.builtin.systemd:
    name: etcd
    enabled: true

- name: Restart etcd
  ansible.builtin.systemd:
    name: etcd
    state: restarted